/bin
/obj
/packages
/properties
/.vs
*.ide
University.UI/obj/
University.Data/obj/
University.Core/obj/
University.Repository/obj/
University.Service/obj/
University.UI/bin/
University.Data/bin/
University.Core/bin/
University.Repository/bin/
University.Service/bin/


