<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CategoryImagePath" value="~/Uploads/Category/" />
    <add key="SubCategoryImagePath" value="~/Uploads/SubCategory/" />
    <add key="ProductImagePath" value="~/Uploads/Product/" />
    <add key="HomeSliderImagePath" value="~/Uploads/HomeSlider/" />
    <add key="HomeBannerImagePath" value="~/Uploads/HomeBanner/" />
    <!-- Start : Added for SSO Implementation -->
    <!--<add key="SSO_ADDRESS" value="https://dev.web.sso.ipsmetersystems.com/" />-->
    <add key="SSO_ADDRESS" value="https://dev.us.web.sso.ipsmetersystems.com/" />
    <!--<add key="SSO_ADDRESS" value="https://testing.web.sso.ipsmetersystems.com/" />-->
    <add key="SSO_VALIDATE_WEB_TOKEN_PATH" value="api/validateauthtoken" />
    <add key="TOKEN_QUERY_STRING_KEY" value="Token" />
    <add key="RETURN_URL_QUERY_STRING_KEY" value="ReturnUrl" />
    <add key="APPLICATION_URL_QUERY_STRING_KEY" value="applicationUrl" />
    <add key="API_KEY_HEADER_KEY" value="IpsSSO-Api-Key" />
    <add key="API_KEY_HEADER_VALUE" value="!P$_S$0K3Y1234" />
    <!-- End : Added for SSO Implementation -->
    <add key="LogoutUrl" value="https://" />
    <add key="SSOToken" value="856FECBA4B06519C8DDDBC80BB084444" />
    <add key="WebCurrUserID" value="eyJJRCI6MCwiRW5JRCI6bnVsbH0" />
    <add key="useTls12" value="true" />
    <add key="SecurityKey" value="iPsUniversity2020" />
    <add key="LoginUrl" value="https://localhost:44325/Login/Login" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="AdminId" value="permitsemailer@gmail.com" />
    <add key="AdminPassword" value="xanthus123" />
    <add key="ChangePasswordUrl" value="https://localhost:44325/Login/ChangePassword" />
  </appSettings>
  <connectionStrings>
    <add name="UniversityEntities" connectionString="metadata=res://*/UniversityEntityModel.csdl|res://*/UniversityEntityModel.ssdl|res://*/UniversityEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-69IBH0GI\SQLEXPRESS;initial catalog=IPSU_DEV_V5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IPSU_DEV_V5Entities" connectionString="metadata=res://*/Models.LoginModel.csdl|res://*/Models.LoginModel.ssdl|res://*/Models.LoginModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-69IBH0GI\SQLEXPRESS;initial catalog=IPSU_DEV_V5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login"></forms>
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
  </system.webServer>
</configuration>