@*<div id="" class="overlaySizeAlert">
        <div class="popup">
            <h5>ADD @ViewBag.Title</h5>
            <a class="close" href="#">&times;</a>
            <hr />
            <div class="content">
                This image does not meet the size and format requirements. Please choose another image and try again
            </div>
            <div class="modal-foot">
                <button type="button" class="btn btn-default closebtn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>*@


<div class="modal fade overlaySizeAlert" id="ImageSizeValidationModal">
    <div class="modal-dialog">
        <form id="subCategoryForm" action="/Admin/SubCategory/AddEditSubCategory">
            Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Category</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    This image does not meet the size and format requirements. Please choose another image and try again
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </form>
    </div>

</div>









