
@{
    /**/

    ViewBag.Title = "Change Password";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Change Password</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Images/Learnx.jpg">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        h6 {
            color: red;
        }

        span.field-validation-error {
            width: 100%;
        }
    </style>
    <!-- Toastr -->
    <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Toastr -->
    <script src="../../plugins/toastr/toastr.min.js"></script>
    <!-- PAGE SCRIPTS -->
    <script src="~/Scripts/custom.js"></script>


</head>
<body class="hold-transition login-page" style="background: rgb(31, 45, 61);">
    <div class="login-box">
        
        <!-- /.login-logo -->
        <div class="card">
            <div class="login-logo">
                <a href="#" style="text-align: center;margin-top: 40px;"><b>Reset Password</b></a>
            </div>
            <div class="card-body login-card-body">

                <form action="~/Login/ChangePassword" method="post" id="ChangePassForm">
                    <div class="input-group mb-3">
                        <input name="NewPassword" type="password" class="form-control password" placeholder="New Password" required oninvalid="this.setCustomValidity('please enter Password');" oninput="this.setCustomValidity('')">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span id="" class="field-validation-error" data-valmsg-for="" data-valmsg-replace="true" style="color:red;"><span id="passwordvalidation" class=""></span></span>
                    </div>
                    <div class="input-group mb-3">
                        <input name="ConfirmPassword" type="password" class="form-control confirm_password" placeholder="Confirm Password" required oninvalid="this.setCustomValidity('please enter Confirm Password');" oninput="this.setCustomValidity('')">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span id="" class="field-validation-error" data-valmsg-for="" data-valmsg-replace="true" style="color:red;"><span id="message" class=""></span></span>

                    </div>
                    <div class="row" style="justify-content:center;">
                        @*<div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>*@
                        <!-- /.col -->
                        <div class="col-6">
                            <input id="btnChangePass" type="submit" class="btn btn-primary btn-block" value="Reset Password" />
                            @*<button type="submit" class="btn btn-primary btn-block" value="Login">Login</button>*@
                        </div>
                        @if (ViewBag.Message != null)
                        {
                            <h6 class="align-center red-text">@ViewBag.Message</h6>
                        }

                        <!-- /.col -->
                    </div>
                </form>

                @*<div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                </a>
                <a href="#" class="btn btn-block btn-danger">
                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                </a>
            </div>*@
                <!-- /.social-auth-links -->
                @*<p class="mb-1">
                <a href="forgot-password.html">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a href="register.html" class="text-center">Register a new membership</a>
            </p>*@
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <script src="~/Scripts/ChangePassword.js"></script>

    <script>
        $('.confirm_password').on('keyup', function ()
        {
            if ($('.password').val() != $('.confirm_password').val())
            {
             $('#message').html("'Confirm Password' & 'Password' do not match'").css('color', 'red');
            }
            else
                $('#message').html("'Confirm Password' and 'Password' do not match'").hide();
        });


        function validatePassword()
        {
            var password = $(".password").val();
            if (password.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@@%!])[0-9a-zA-Z@@%!]{8,}$/))
            {
                $("#passwordvalidation").html("Your password needs to: <br/>Include both lower & upper case character, Include at least one number or symbol be at least 8 characters long").hide();
            }
            else
            {
                 $("#passwordvalidation").html("Your password needs to: <br/>Include both lower & upper case character, Include at least one number or symbol be at least 8 characters long").css('color', 'red');
            }
           
   
        }

        $(document).ready(function () {
           $(".password").keyup(validatePassword);
        });


    </script>




</body>
</html>

