@model University.UI.Areas.Admin.Models.CategoryMappingModel
@using University.Data;


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Choose User</label>
            @Html.DropDownListFor(x => x.UserID, new SelectList(Model.Logintbllst, "ID", "FirstLastName"), "Select User", new { @required = "required", @class = "form-control test", @onchange = "BindCategories(this.value)" })
            @Html.ValidationMessageFor(x => x.UserID, "", new { @class = "", style = "color:red;" })

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Choose Category</label>
            @Html.DropDownListFor(x => x.CategoryId, new SelectList(Model.SubCategoryMasterlst, "Id", "Name"), "Select Category", new { @required = "required", @class = "form-control categoryuserdefine", })
            @Html.ValidationMessageFor(x => x.CategoryId, "", new { @class = "", style = "color:red;" })
        </div>
    </div>
</div>



