@model University.UI.Models.PaymentGatewayVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

}

<div class="container">
    <div class="row">
        <div class="offset-sm-3 col-sm-6">
            <article class="card">
                <div class="card-body p-5">

                    <form role="form" id="PaymentGatewayForm">
                        <div class="form-group">
                            <label for="username">Full name (on the card)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                @Html.TextBoxFor(x => x.CardHolderName, new { @class = "form-control", placeholder = "Full name" })
                                @Html.ValidationMessageFor(x => x.CardHolderName, null, new { @class = "", style = "color:red;" })
                                @*<input type="text" class="form-control" name="CardHolderName" placeholder="" required="">*@
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="form-group">
                            <label for="cardNumber">Card number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                </div>
                                @Html.TextBoxFor(x => x.CardNumber, new { @class = "form-control", placeholder = "Card Number" })
                                @Html.ValidationMessageFor(x => x.CardNumber, null, new { @class = "", style = "color:red;" })
                                @*<input type="text" class="form-control" name="CardNumber" placeholder="">*@
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group.// -->

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Expiration</span> </label>
                                    <div class="form-inline">
                                        <select class="form-control" style="width:45%" name="Month">
                                            <option>MM</option>
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                        <span style="width:10%; text-align: center"> / </span>
                                        <select class="form-control" style="width:45%" name="Year">
                                            <option>YY</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                                    <input class="form-control" required="" type="text" name="CVV">
                                </div> <!-- form-group.// -->
                            </div>
                        </div> <!-- row.// -->
                        <button class="subscribe btn btn-primary btn-block" type="button" id="btnPaymentGateway"> Confirm  </button>
                    </form>
                </div> <!-- card-body.// -->
            </article> <!-- card.// -->
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/PaymentGateway.js"></script>
}